@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --text: #151515;

    /*temp bg*/
    --bg: rgba(245, 169, 184, 0.64);
    --blobcol: #cba1e1;

    /*additional colors*/
    --yellow-haze: #F0DBA5;

    /*blob colors*/
    --yellow: #FCF434;
    --red: #EB6666;
    --green: #6FB18A;
    --gray: #9e9e9e;
    --raisin: #2C2C34;

    --blobcol: #f1d1ff;

    /*trans colors*/
    --pink: #F5A9B8;
    --white: #FFFFFF;
    --blue: #5BCEFA;
  }
}

html { height:100%; }

body {
  color: var(--background);
  background: var(--bg);
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/*
Grain Animation
Taken from Juxtopposed's codepen project: https://codepen.io/Juxtopposed/pen/BaqLEQY
*/
body::before,
body::after {
  position: fixed;
  left: 0;
  top: 0;
  content: '';
  width: 100%;
  height: 100dvh;
  z-index: -1;

  opacity: 40%;
}



body::before {
  background: #8C8C8C;
  filter: url(#noiseFilter);
}

.yellow {
  background-color: var(--blobcol);
  position: absolute;
  top: 200px;
  left: 100px;
  height: 300px;
  width: 300px;

  animation: yellow 8s infinite ease;
}

.green {
  background-color: var(--blobcol);
  position: absolute;
  top: 80px;
  right: -20px;
  height: 300px;
  width: 350px;

  animation: green 8s infinite ease;
}

.red {
  background-color: var(--blobcol);
  position: absolute;
  right: 0;
  top: 300px;
  height: 350px;
  width: 300px;

  animation: red 8s infinite linear;
}

.blob-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -2;
  height: 5px;
  width: 5px;
  position: relative;
  right: 5em;
}

.blob {
  border-radius: 200px;
  filter: blur(50px);
}

@keyframes yellow {
  0% {top: 200px; left: 100px; transform: scale(1);}
  30% {top: 300px; left: 150px; transform: scale(1.2);}
  60% {top: 100px; left: 200px; transform: scale(1.3);}
  100% {top: 200px; left: 100px; transform: scale(1);}
}

@keyframes green {
  0% {top: 80px; right: -20px; transform: scale(1.2);}
  30% {top: 300px; right: -20px;transform: scale(1);}
  60% {top: 200px; right: 100px;transform: scale(1);}
  100% {top: 80px; right: -20px; transform: scale(1.2);}
}

@keyframes red {
  0% {top: 250px; right: 0px; transform: scale(1);}
  30% {top: 150px; right: 150px;transform: scale(1.4);}
  60% {top: 250px; right: 100px;transform: scale(1);}
  100% {top: 250px; right: 0px; transform: scale(1);}
}